.reveal .-m-top-40 { margin-top: 40px; }
.reveal .-m-left-50 { margin-left: 50px; }
.reveal .-a-left { text-align: left; }
.reveal .-a-center { text-align: center; }

.reveal pre code {
  max-height: 450px;
  background: #312F2D;
}

/* first slide */

.reveal .-cover h1,
.reveal .-cover h4,
.reveal .-cover p {
  text-align: left;
}
.reveal .-cover > img {
  position: absolute;
  top: 0;
  right: 0;
}
.reveal .-cover > .-author-name {
  margin-top: 40px;
}
.reveal .-cover > .-author-position {
  font-size: 55%;
  margin-top: -10px;
}
